{
        "data":[
        {
                "hostname" : "testengine",
                "ip_address" : "{{ DELPHIX_ENGINE_IP }}",
                "username" : "{{ DELPHIX_USER }}",
                "password" : "{{ DELPHIX_PASSWORD }}",
                "port" : "80",
                "default" : "true",
                "encrypted" : "false",
                "timeout" : "600"
        }
        ]
}
